// variables
@import '~/assets/style/variables/colors.scss';

// sections
@import '~/assets/style/components/homepage.scss';
@import '~/assets/style/components/about.scss';
@import '~/assets/style/components/features.scss';
@import '~/assets/style/components/specs.scss';

// components
@import '~/assets/style/components/navbar.scss';

* {
    scroll-behavior: smooth;
}

body {
    background: $dark;
    font-family: "Outfit";
}

.about-section, .testimonials-section {
    height: 50vh;
}

.section {
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:not(.home-section, .about-section, .testimonials-section ) {
        height: 100vh;
        align-items: center;
    }
    .backdrop {
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: -1;
        mix-blend-mode: overlay;
    }
    .section-header {
        width: fit-content;
        h1 {
            font-size: 3rem;
            font-weight: 600;
            line-height: 1.25em;
        }
        hr {
            width: 45%;
            border: 3px solid $accent;
            border-radius: 1em;
        }
    }
}

.spec-wrapper, .feature-wrapper {
    background: #f8f8f810;
    border: 1px solid #f8f8f825;
    backdrop-filter: blur(25px);
    border-radius: 1.5rem;
    padding: 2rem;
    .image-wrapper {
        background: $accent;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
}

.hided-navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    button:hover {
        margin-bottom: 0;
    }
}

.fade-enter-active {
    transition: opacity 0.5s ease;
    transition-delay: 0.25s;
}
.fade-leave-active {
    transition: opacity 0s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
