// variables
@import '~/assets/style/variables/colors.scss';

// sections
@import '~/assets/style/components/homepage.scss';
@import '~/assets/style/components/about.scss';
@import '~/assets/style/components/features.scss';

// components
@import '~/assets/style/components/navbar.scss';

* {
    scroll-behavior: smooth;
}

body {
    background: $dark;
    font-family: "Outfit";
}

.section {
    color: $white;
    &:not(:first-child, .about-section) {
        padding-top: 7rem;
    }
    .section-header {
        h1 {
            font-size: 3rem;
            font-weight: 600;
            line-height: 1.25em;
        }
        hr {
            width: 6.25rem;
            border: 3px solid $accent;
            border-radius: 1em;
        }
    }
}

.navbar-component {
    padding: 2rem 0 
}

.hided-navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    button:hover {
        margin-bottom: 0;
    }
}

.fade-enter-active {
    transition: opacity 0.5s ease;
    transition-delay: 0.25s;
}
.fade-leave-active {
    transition: opacity 0s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
