.features-section {
    height: 100vh;
    .feature-wrapper {
        width: 18.75rem;
        .body {
            h1 {
                font-size: 1.5rem;
                font-weight: 600;
                line-height: 1.25em;
            }
            p {
                font-size: 1rem;
                font-weight: 400;
                opacity: 50%;
                line-height: 1.5em;
            }
        }
    }
}