.home-section {
    height: 100vh;
    background-image: url('~/public/backgrounds/homescreen_bg.png');
    background-size: cover;
    background-position: center;
    .person {
        height: 80%;
        bottom: 0;
        right: 8rem;
        z-index: 1;
    }
    .circles {
        mix-blend-mode: color-dodge;
        width: 40%;
        bottom: 10rem;
        right: 4rem;
    }
    .header {
        .logo { width: 6.75rem }
        .socialmedia { width: 1.5rem }
    }
    .body-text {
        height: 100%;
        .body-wrapper {
            width: fit-content;
            .shadow {
                box-shadow: none;
                mix-blend-mode: overlay;
                transform: scale(1.5) translateX(3.5rem);
            }
            .text-wrapper h1 {
                font-size: 4rem;
                line-height: 81px;
                font-weight: 600;
            }
            .desc p {
                font-size: 1.5rem;
                font-weight: 400;
                span {
                    color: $accent;
                    font-weight: 600;
                }
            }
            .connect-button {
                background: $accent;
                width: fit-content;
                color: $dark;
                font-weight: 500;
                font-size: 1rem;
                border-radius: 10rem;
            }
        }
    }
}