.navbar-component {
    backdrop-filter: blur(8px);
    background: #040F1410;
    width: 100%;
    button {
        color: $white;
        transition: 0.2s;
        &:hover {
            color: $accent !important;
            transform: translateY(-0.25rem);
        }
        .chevron {
            bottom: -0.5rem;
        }
    }
}

.active-link {
    color: $accent !important;
}

.slide-enter-active {
    transition: all 0.2s;
}

.slide-leave-active {
    transition: all 0.2s;
}

.slide-enter-from,
.slide-leave-to {
    transform: translateY(-1.5rem);
    opacity: 0;
}