.navbar-component {
    position: sticky;
    button {
        color: $white;
        transition: 0.2s;
        position: relative;
        // background: red;
        &:hover {
            color: $accent !important;
            transform: translateY(-0.25rem);
        }
        .chevron {
            position: absolute;
            bottom: -0.5rem;
        }
    }
}

.active-link {
    color: $accent !important;
}

.slide-enter-active {
    transition: all 0.2s;
}

.slide-leave-active {
    transition: all 0.2s;
}

.slide-enter-from,
.slide-leave-to {
    transform: translateY(-1.5rem);
    opacity: 0;
}