.spec-wrapper {
    width: 21.75rem;
    .title {
        font-weight: 500;
        font-size: 1.5rem;
    }
    .spec-list {
        h1 {
            opacity: 50%;
        }
        p, .spec-item-wrapper p {
            font-weight: 500;
        }
    }
}